{% extends 'shopapp/base.html' %}

{% block title %}
    Create Order
{% endblock %}

{% block body %}
    <h1>Create a new order</h1>
    <div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
    </div>
    <div>
        <p>
        <a href="{% url 'shopapp:products_list' %}"
            >Back to products list</a>
        </p>
        <p>
            <a href="{% url 'shopapp:orders_list' %}"
            >Back to orders list</a>
        </p>
    </div>
{% endblock %}