{% extends 'myauth/base.html' %}

{% block title %}
  Profile #{{ profile.pk }}
{% endblock %}

{% block body %}
  <h1>Profile <strong>{{ profile.user }}</strong></h1>
  <div>
    <div>Bio: <em>{{ profile.bio }}</em></div>
    <div>Avatar: {{ profile.avatar }}</div>
    <div>Agreement accepted: {{ profile.agreement_accepted }}</div>
    {% if profile.avatar %}
      <img src="{{ profile.avatar.url }}" alt="profile.avatar.name">
    {% endif %}
    <div>
    {% if user == profile.user or user.is_staff %}
      <a href="{% url 'myauth:profile_update' pk=profile.pk %}">Update profile</a>
    {% endif %}

    </div>
    <div>
      <a href="{% url 'myauth:profile_list' %}">Back to profiles list</a>
    </div>

  </div>

  <div>
    <a href="{% url 'myauth:logout' %}">Logout</a>
  </div>

{% endblock %}
