{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}

  {% translate "Product" %} #{{ product.pk }}

{% endblock %}

{% block body %}
      <h1>{% translate "Product " %}: <strong>{{product.name}}</strong></h1>
      <div>
        <div>{% translate "Description" %}:<em>{{ product.description }}</em></div>
        <div>{% translate "Price" %}: {{ product.price }}</div>
        <div>{% translate "Discount" %}: {{ product.discount }}</div>
        {% if product.archived == True %}
          <div>{% translate "Archived" %}: {% translate "Yes" %}</div>
        {% else %}
          <div>{% translate "Archived" %}: {% translate "No" %}</div>
        {% endif %}

        {% if product.preview %}
          <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
        {% endif %}
    {% blocktranslate count product_images_count=product.images.count %}
    <h3>Uploaded one image</h3>
    {% plural %}
    <h3>Uploaded {{ product_images_count }} images</h3>
    {% endblocktranslate %}
    <div>
      {% for img in product.images.all %}
        <div>
          <img src="{{ img.image.url }}" alt="{{ img.image.name }}">
          <div>{{ img.description }}</div>
        </div>
      {% empty %}
        <div>{% translate "No images uploaded yet" %}</div>
      {% endfor %}

    </div>
  </div>
{% url 'shopapp:product_update' pk=product.pk as update_url %}
{% url 'shopapp:product_delete' pk=product.pk as delete_url %}
{% url 'shopapp:products_list' as products_list_url %}

{% blocktranslate %}
  <div>
    <a href="{{ update_url }}">Update product</a>
  </div>
  <div>
    <a href="{{ delete_url }}">Archive product</a>
  </div>
  <div>
    <a href="{{ products_list_url }}">Back to products list</a>
  </div>
{% endblocktranslate %}
{% endblock %}
